<app-create-new></app-create-new>
<router-outlet></router-outlet>
<div class="p-5 w-100">
    <div class="row">
        <div class="col-md-6 border p-5">
            <div class="row">
                <div class="h3">Clan Castle Capacity</div>
                <div class="container">
                    <app-set-clan-castle-capacity></app-set-clan-castle-capacity>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row  border p-5">
                <div class="h4">Donation Troops</div>
                <div class="container">
                    <app-set-troops-to-donate></app-set-troops-to-donate>
                </div>
            </div>
            <div class="row  border p-5">
                <div class="h4">Filler Troops</div>
                <div class="container">
                    <app-set-filler-troops></app-set-filler-troops>
                </div>
            </div>
        </div>
    </div>
</div>