<div class="navbar navbar-light bg-light navbar-expand-lg border-bottom">
    <a href="javascript:void(0);" class="navbar-brand">Clash Of Clans</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-inline-flex">
            <li class="nav-item active">
                <a href="javascript:void(0);" class="nav-link" routerLink="/home">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    <app-create-new></app-create-new>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" routerLink="/support">
                    Support
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" routerLink="/aboutus">
                    About Us
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="mb-5 bg-light p-5">
    <router-outlet></router-outlet>
</div>